* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



/* 1st Part Started (Navbar & Banner Section) */
header {
    width: 100%;
    height: 100vh;
}

/* Background Image */
.bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    position: relative;
    font-family: "Raleway", sans-serif;
    height: 100vh;
    overflow: hidden;
}

/* Navigation Bar */
.navbar-items {
    position: relative;
    top: 40px;
    width: 100%;
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
}

.navbar-title {
    font-size: 34px;
    font-weight: bolder;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
}

.btn {
    padding: 12px 25px;
    font-size: 1.1rem;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Content */
.navbar-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    padding: 0 20px;   
}

.navbar-content h1 {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
    max-width: 800px;

}
/* 1st Part Ended (Navbar & Banner Section) */


/* 2nd Part Started (Action Section) */
.action-wc-mini {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 116px 160px 110px 140px;
    font-family: "Raleway", sans-serif;
    background-color:#f5f8ff;
}

/* Content */
.action-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 23px;
}

.action-description {
    font-size: 24px;
    max-width: 470px;
    margin-bottom: 23px;
    color: #252432;
}

/* WC-Mini-Image */
.wc-mini-img {
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
/* 2nd Part Ended (Action Section) */


/* 3rd Part Started (Productive Users Section) */

.statistics {
    background-color:#f5f8ff;
}
.stats-section {
  width: 1167px;
  height: 313px;
  background-color: #E5E7FF;
  text-align: center;
  margin: 0 auto;
  padding: 55px 155px;
  border-radius: 24px;
}

.user-title {
  font-size: 38px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #252432;
  margin-bottom: 40px;
}

.stats-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.stat-box h1 {
  font-size: 80px;
  font-weight: bold;
  color: #3E39CC;
  font-family: "Inter", sans-serif;
}

.stat-box p {
  font-size: 20px;
  color: #72737f;
}
/* 3rd Part Ended (Productive Users Section) */


/* 4th Part Started (Users’ Feedback Section) */
.review-section {
  padding: 137px 150px 0 150px;
  margin: 0 auto;
  background-color:#f5f8ff;
}

.review-section-title {
  font-size: 42px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  margin-bottom: 25px;
}

.review-container {
  display: flex;
  gap: 20px;
}

.text-center {
  text-align: center;
}

.review {
  padding: 24px 24px;
  border-radius: 14px;
  flex: 1;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.10);
}

.stars{
    margin-bottom: 24px;
}

.review-title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}

.review-description {
    font-family: "Inter", sans-serif;
}

.reviewer-img {
  border-radius: 50%;
}

.reviewer-part {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 24px;
}

.name {
  color: #757575;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.date {
  color: #757575;
  font-family: "Inter", sans-serif;
}
/* 4th Part Ended (Users’ Feedback Section) */


/* 5th Part Started (Message Section) */
.message-section {
    padding: 100px 150px 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#f5f8ff;
}
.message-column{
    width:50%;
}
.section-title{
    font-size: 97px;
    font-weight: bold;
    max-width: 516px;
    font-family: "Raleway", sans-serif;
}
.message-section input[type="text"], .message-section input[type="email"], .message-section textarea {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 20px;
}

.btn-msg {
    width: 100%;
    height: 64px;
    font-size: 1.1rem;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 71px;
}
.message-column p{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    margin-bottom: 10px;
}
/* 5th Part Ended (Message Section) */

/* 6th Part Started (Footer Section) */
.footer{
    text-align: center;
    padding:  104px 455px 147px 454px;
    font-family: "Inter", sans-serif;

}

.footer-title {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #3E39CC;
}
.footer-description {
    font-size: 20px;
    color: #8987A1;
    max-width: 800px;
    margin: 0 auto 40px;
    line-height: 1.6;
}
.footer-links {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.footer-links li{
    display: inline;
}
.footer-links li a {
  color: #111;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
}
/* 6th Part Ended (Footer Section) */

