* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* 1st Part Started (Navbar & Banner Section) */
header {
    width: 100%;
    height: 100vh;
}

/* Background Image */
.bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    position: relative;
    font-family: "Raleway", sans-serif;
    height: 100vh;
    overflow: hidden;
}

/* Navigation Bar */
.navbar-items {
    position: relative;
    top: 40px;
    width: 100%;
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
}

.navbar-title {
    font-size: 34px;
    font-weight: bolder;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
}

.btn {
    padding: 12px 25px;
    font-size: 1.1rem;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Content */
.navbar-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    max-width: 800px;
}

.navbar-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
/* 1st Part Ended (Navbar & Banner Section) */


/* 2nd Part Started (Action Section) */
.action-wc-mini {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 116px 160px 110px 140px;
    font-family: "Raleway", sans-serif;
}

/* Content */
.action-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 23px;
}

.action-description {
    font-size: 24px;
    max-width: 470px;
    margin-bottom: 23px;
    color: #252432;
}

/* WC-Mini-Image */
.wc-mini-img {
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
/* 2nd Part Ended (Action Section) */


/* 3rd Part Started (Productive Users Section) */
.stats-section {
  width: 1167px;
  height: 313px;
  background-color: #E5E7FF;
  text-align: center;
  margin: 0 auto;
  padding: 55px 155px;
  border-radius: 24px;
}

.user-title {
  font-size: 38px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #252432;
  margin-bottom: 40px;
}

.stats-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.stat-box h1 {
  font-size: 80px;
  font-weight: bold;
  color: #3E39CC;
  font-family: "Inter", sans-serif;
}

.stat-box p {
  font-size: 20;
  color: #72737f;
}
/* 3rd Part Ended (Productive Users Section) */


/* 4th Part Started (Users’ Feedback Section) */
.review-section {
  padding: 137px 150px;
  margin: 0 auto;
}

.review-section-title {
  font-size: 42px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  margin-bottom: 25px;
}

.review-container {
  display: flex;
  gap: 20px;
}

.text-center {
  text-align: center;
}

.review {
  padding: 24px 24px;
  border-radius: 14px;
  flex: 1;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.10);
}

.stars{
    margin-bottom: 24px;
}

.reviewer-img {
  border-radius: 50%;
}

.reviewer-part {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 24px;
}

.name {
  color: #757575;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.date {
  color: #757575;
  font-family: "Inter", sans-serif;
}
/* 4th Part Ended (Users’ Feedback Section) */